html, body {
  background-color: #252839 !important;
  padding-top: 10px
}
p {
  align-content: center;
  background-color: #495285;
  color: #EFDBF6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 6em;
}
p > span {
  opacity: 0.4;
  text-align: center;
}

.search-box {
  background-image: linear-gradient(to bottom right, #5C2D50, #2C2C5C);
  border-radius: 5px;
  text-align: center;
  padding: 20px
}

.leaflet-container{background-color:#c5e8ff;}