html, body {
  background-color: #262439 !important;
  padding-top: 10px
}
p {
  align-content: center;
  background-color: #495285;
  color: #EFDBF6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 6em;
}
p > span {
  opacity: 0.4;
  text-align: center;
}

.leaflet-container{background-color:#402C57;}

.leaflet-interactive{
  stroke-width: 0.5
}